<table class="children">
	<thead>
		<tr>
			<th>Adres</th>
			<th>Naam</th>
			<th>Taken</th>
			<th>Verantwoordelijk</th>
			<th>Opmerkingen</th>
			<th>{customfield}</th>
			<th>{customtable}</th>
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN child -->
		<tr{oddeven} style="cursor: pointer;" onclick="window.location.href = '{link}'">
			<td>{label}</td>
			<td>{nodename}</td>
			<td>{nodedescription}</td>
			<td>{responsible}</td>
			<td>{remarks}</td>
			<!-- BEGIN customfielddata --><td>{customfield}</td><!-- END customfielddata -->
			<!-- BEGIN customtabledata --><td>{customtable}</td><!-- END customtabledata -->
		</tr>
		<!-- END child -->
	</tbody>
</table>
