<a href="?page=groups"><b>Groups ></b></a><b>{group}</b>
<table class="group">
	<thead>
		<tr>			
			<th>Naam</th>
			<th>Adres</th>
			<th>Taken</th>
			<th>Verantwoordelijk</th>
			<th>Opmerkingen</th>
		</tr>
	</thead>
	<tbody>
			<!-- BEGIN entry -->
			<tr>
				<td style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">{name}</td>
				<td style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">{node}</td>
				<td style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">{description}</td>
				<td style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">{responsible}</td>
				<td style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">{remarks}</td>
			</tr>
			<!-- END entry -->
		</tbody>
	</table>
	<br>
	<a class="button" href="?page=groups" remote="remote">back</a>

