<a href="?page=groups"><b>Groepen ></b></a><b>{group}</b>
<table class="group">
	<thead>
		<tr>			
			<th>Naam</th>
			<th>Adres</th>
			<th>Taken</th>
			<th>Verantwoordelijk</th>
			<th>Opmerkingen</th>
		</tr>
	</thead>
	<tbody>
			<!-- BEGIN entry -->
			<tr{oddeven}style="white-space: nowrap;cursor: pointer;" onclick="window.location.href = '?page=main&node={node}'">
				<td>{name}</td>
				<td>{node}</td>
				<td>{description}</td>
				<td>{responsible}</td>
				<td>{remarks}</td>
			</tr>
			<!-- END entry -->
		</tbody>
	</table>
	<br>
	<a class="button" href="?page=groups" remote="remote">terug</a>

